[submodule "Terceiro período/AED3/CRUD"]
	path = Terceiro período/AED3/CRUD
	url = https://github.com/SeraphyBR/CRUD.git
[submodule "Terceiro período/AED3/CRUD3"]
	path = Terceiro período/AED3/CRUD3
	url = https://github.com/SeraphyBR/CRUD3
[submodule "Terceiro período/AED3/-f"]
	path = Terceiro período/AED3/CRUD2
	url = https://github.com/HenriqueFQuick/CRUD2
